---
// import ProductsForm from "../../../components/admin/forms/ProductsForm";
import GoBackButton from '@/components/ui/GoBackButton.astro'
import AdminLayout from '../../../layouts/AdminLayout.astro'
import TitlePages from '@/components/ui/TitlePages.astro'
import ProductsForm from '@/components/admin/forms/ProductsForm'
---

<AdminLayout title='Agregar Producto'>
	<GoBackButton />
	<div class='flex flex-col items-center'>
		<TitlePages title='Crear Nuevo Producto' />
		<div
			class='flex flex-col gap-y-8 justify-center my-5 divide-mediumGray w-[90%] sm:min-w-0 max-w-[600px] bg-darkGray rounded-lg py-6 px-8'
		>
			<ProductsForm client:visible />
		</div>
	</div>
</AdminLayout>
