@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	color-scheme: light dark;
} */

body {
	@apply bg-[#141414] 
    text-[#F6F6F6];

	font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/BebasNeue-Regular.ttf') format('ttf');
}

.social-icon {
	@apply stroke-[1.5] opacity-50 hover:opacity-100 w-9 h-9;
}

::-webkit-scrollbar {
	@apply w-2 bg-black;
}

::-webkit-scrollbar-thumb {
	@apply bg-zinc-800 rounded;
}
