---
import Layout from '../layouts/Layout.astro'
import HomeSection from '@/components/HomeSection.astro'
---

<Layout title='Inicio'>
	<main>
		<HomeSection srcImage='/heros/new-culture.webp' title='New Culture' />
		<HomeSection srcImage='/heros/pop-culture.webp' title='Pop Culture' />
		<HomeSection srcImage='/heros/fit-culture.webp' title='Fit Culture' />
		<HomeSection srcImage='/heros/urban-culture.webp' title='Urban Culture' />
	</main>
</Layout>
