---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Politica de Privacidad'>
	<main class='pt-32 mb-10'>
		<div class='flex flex-col justify-start gap-y-10 px-10 lg:pt-20'>
			<h2 class='text-3xl md:text-5xl font-bold'>Politica de Privacidad</h2>
			<div class='space-y-4 max-w-4xl'>
				<h3 class='text-xl md:text-3xl font-medium'>Registro de usuarios</h3>

				<p>
					Nuestro sitio web te ofrece la posibilidad de registrarte como usuario con
					el fin de acceder a funciones que solo tienen los usuarios, como crear tu
					propio perfil, publicar comentarios, participar en sorteos, recibir ofertas
					exclusivas y mucho más.
				</p>

				<p>
					Para registrarte como usuario, solo te pedimos que nos proporciones tu
					nombre y apellido, tu correo electrónico, tu ciudad y pais de residecia, y
					finalmente una contraseña.Estos datos son necesarios para identificarte
					como usuario, para enviarte comunicaciones relacionadas con tu cuenta y
					para garantizar la seguridad de tu acceso.
				</p>

				<p>
					Estos datos se almacenan en una base de datos propiedad de The Culture
					Clan, que cumple con las medidas de seguridad exigidas por la ley. No
					compartimos estos datos con ningún tercero, salvo que nos des tu
					consentimiento expreso o que sea requerido por una autoridad competente.
				</p>

				<p>
					Como usuario registrado, tienes derecho a acceder, rectificar, cancelar u
					oponerte al tratamiento de tus datos personales, así como a revocar tu
					consentimiento en cualquier momento. Para ello, puedes enviar un correo
					electrónico a info@thecultureclan.com, indicando tu nombre, tu correo
					electrónico y el motivo de tu solicitud.
				</p>

				<h3 class='text-xl md:text-3xl font-medium'>
					¿Cómo protegemos tus datos personales?
				</h3>
				<p>
					En The Culture Clan adoptamos las medidas técnicas, organizativas y legales
					necesarias para proteger tus datos personales y evitar su pérdida,
					alteración, acceso no autorizado o uso indebido. Algunas de estas medidas
					son las siguientes:
				</p>
				<ul class='list-inside space-y-2'>
					<li class='list-disc'>
						Encriptamos tus datos personales mediante protocolos seguros, como el SSL
						(Secure Socket Layer), que garantizan que solo tú y nosotros podemos
						acceder a ellos.
					</li>
					<li class='list-disc'>
						Limitamos el acceso a tus datos personales solo al personal autorizado y
						debidamente capacitado, que se compromete a respetar la confidencialidad
						de los mismos.
					</li>
					<li class='list-disc'>
						Revisamos periódicamente nuestros sistemas y procesos para detectar y
						corregir posibles vulnerabilidades o brechas de seguridad.
					</li>
					<li class='list-disc'>
						Actualizamos y mejoramos constantemente nuestras medidas de seguridad, de
						acuerdo con las novedades tecnológicas y legales.
					</li>
				</ul>

				<p>
					Sin embargo, debes tener en cuenta que ninguna medida de seguridad es
					infalible, y que existe el riesgo de que tus datos personales puedan ser
					objeto de ataques informáticos, errores humanos o desastres naturales. Por
					eso, te recomendamos que también adoptes algunas precauciones, como las
					siguientes:
				</p>

				<ul class='list-inside space-y-2'>
					<li class='list-disc'>
						No compartas tu contraseña con nadie, ni la anotes en lugares visibles o
						accesibles.
					</li>
					<li class='list-disc'>
						No abras correos electrónicos o enlaces sospechosos que puedan contener
						virus o malware.
					</li>
					<li class='list-disc'>
						Mantén tu dispositivo y tu navegador actualizados y con un antivirus
						instalado.
					</li>
				</ul>

				<h3 class='text-xl md:text-3xl font-medium'>
					¿Cómo modificamos nuestra política de privacidad?
				</h3>

				<p>
					Nos reservamos el derecho de modificar nuestra política de privacidad en
					cualquier momento, para adaptarla a las novedades legales, tecnológicas o
					comerciales que puedan afectar a nuestro sitio web. Si realizamos algún
					cambio, te lo comunicaremos mediante un aviso en nuestro sitio web, o
					mediante un correo electrónico si eres usuario registrado. Te recomendamos
					que revises periódicamente nuestra política de privacidad, para estar al
					tanto de cualquier actualización o modificación.
				</p>

				<h3 class='text-xl md:text-3xl font-medium'>Cookies</h3>

				<p>
					Las cookies son pequeños archivos que se almacenan en el navegador del
					usuario cuando visita un sitio web. Las cookies permiten que el sitio web
					reconozca al usuario y le ofrezca una experiencia personalizada, así como
					recoger información estadística sobre el uso del sitio web.
				</p>
				<p>
					En nuestro sitio web, The Culture Clan, utilizamos cookies propias y de
					terceros con las siguientes finalidades:
				</p>
				<ul class='list-inside space-y-2'>
					<li class='list-disc'>
						<strong>Cookies técnicas:</strong>
						son necesarias para el correcto funcionamiento del sitio web, como recordar
						el idioma seleccionado, la sesión iniciada o el carrito de la compra.
					</li>
					<li class='list-disc'>
						<strong>Cookies analíticas:</strong>
						son las que nos permiten medir y analizar el tráfico y el comportamiento de
						los usuarios en nuestro sitio web, mediante herramientas como Google Analytics,
						Facebook Pixel y TikTok Pixel. Estas cookies nos ayudan a mejorar nuestro
						sitio web y a ofrecer un mejor servicio a nuestros usuarios.
					</li>
					<li class='list-disc'>
						<strong>Cookies publicitarias:</strong>
						son las que nos permiten mostrar anuncios personalizados a los usuarios en
						función de sus intereses, preferencias y hábitos de navegación, mediante herramientas
						como Google Ads, Facebook Ads y TikTok Ads. Estas cookies también nos permiten
						medir la efectividad de nuestras campañas publicitarias.
					</li>
				</ul>

				<p>
					Puedes configurar tu navegador para bloquear o eliminar las cookies que se
					almacenan en tu dispositivo. Sin embargo, ten en cuenta que si rechazas o
					eliminas las cookies, es posible que algunas funcionalidades de nuestro
					sitio web no estén disponibles o no funcionen correctamente.
				</p>
			</div>
		</div>
	</main>
</Layout>
