---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Politica de Privacidad'>
	<main class='pt-32 mb-10'>
		<div class='flex flex-col justify-start gap-y-10 px-10 lg:pt-20'>
			<h2 class='text-3xl md:text-5xl font-bold'>Términos y Condiciones</h2>
			<div class='space-y-4 max-w-4xl'>
				<p>
					Bienvenido a The Culture Clan, la tienda online de una marca de ropa que te
					ofrece los mejores diseños y la mejor calidad. Al acceder o utilizar
					nuestro sitio web, aceptas los siguientes términos y condiciones, que
					regulan la relación entre tú y nosotros. Por favor, lee atentamente estos
					términos y condiciones antes de usar nuestro sitio web, y si tienes alguna
					duda, puedes contactarnos a través de los medios que te indicamos al final
					de este documento.
				</p>

				<h3 class='text-xl md:text-3xl font-medium'>Identificación</h3>

				<p>
					El titular de este sitio web es The Culture Clan, una marca de ropa
					registrada por sus socios fundadores, con domicilio en el Estado Carabobo,
					Venezuela, y con correo electrónico de contacto info@thecultureclan.com. En
					adelante, nos referiremos a nosotros como The Culture Clan, la marca o el
					titular.
				</p>

				<h3 class='text-xl md:text-3xl font-medium'>Objeto y alcance</h3>

				<p>
					El objeto de este sitio web es ofrecerte una tienda online donde puedas
					conocer los productos de la marca, consultar sus características, precios y
					disponibilidad, y realizar una compra si lo deseas. También puedes
					registrarte como usuario para acceder a funciones exclusivas, como crear tu
					propio perfil, publicar comentarios, participar en sorteos, recibir ofertas
					especiales y mucho más.
				</p>
				<p>
					Estos términos y condiciones se aplican a todos los usuarios que visiten o
					utilicen nuestro sitio web, ya sea como simples visitantes o como usuarios
					registrados. Al usar nuestro sitio web, aceptas cumplir con estos términos
					y condiciones, así como con nuestra política de privacidad y de cookies,
					que forman parte integrante de los mismos. Si no estás de acuerdo con estos
					términos y condiciones, debes abstenerse de usar nuestro sitio web.
				</p>
				<p>
					Nos reservamos el derecho de modificar estos términos y condiciones en
					cualquier momento, para adaptarlos a las novedades legales, tecnológicas o
					comerciales que puedan afectar a nuestro sitio web. Si realizamos algún
					cambio, te lo comunicaremos mediante un aviso en nuestro sitio web, o
					mediante un correo electrónico si eres usuario registrado. Te recomendamos
					que revises periódicamente estos términos y condiciones, para estar al
					tanto de cualquier actualización o modificación.
				</p>

				<h3 class='text-xl md:text-3xl font-medium'>
					Contenido, productos y servicios
				</h3>
				<p>
					En nuestro sitio web, te ofrecemos contenido, productos y servicios
					relacionados con la marca de ropa The Culture Clan, que se caracteriza por
					su estilo único, original y de calidad. Todos los contenidos, productos y
					servicios que se muestran en nuestro sitio web son propiedad de la marca o
					de sus proveedores, y están sujetos a los derechos de propiedad intelectual
					e industrial que les corresponden. No puedes copiar, reproducir,
					distribuir, modificar, transformar, comunicar públicamente o explotar de
					cualquier otra forma estos contenidos, productos y servicios, sin la
					autorización previa y por escrito de la marca o de sus proveedores.
				</p>
				<p>
					Los contenidos, productos y servicios que se muestran en nuestro sitio web
					se presentan de la forma más precisa y actualizada posible, pero pueden
					contener errores, inexactitudes u omisiones. No garantizamos la exactitud,
					veracidad, integridad o actualidad de estos contenidos, productos y
					servicios, ni que los mismos se ajusten a tus expectativas o necesidades
				</p>
				<p>
					Los precios de los productos que se muestran en nuestro sitio web incluyen
					el IVA, pero no incluyen los gastos de envío, que se calcularán en función
					del destino, el peso y el volumen del pedido. Los precios de los productos
					pueden variar en cualquier momento, sin previo aviso, pero no afectarán a
					los pedidos ya confirmados. Los productos están sujetos a la disponibilidad
					de stock, y pueden agotarse o dejar de estar disponibles sin previo aviso.
					En caso de que no podamos suministrarte un producto que hayas comprado, te
					lo comunicaremos lo antes posible y te ofreceremos la posibilidad de
					cambiarlo por otro producto similar, esperar a que se reponga el stock o
					cancelar el pedido y recibir el reembolso correspondiente.
				</p>

				<h3 class='text-xl md:text-3xl font-medium'>
					Condiciones de registro de usuarios
				</h3>
				<p>
					Para registrarte como usuario en nuestro sitio web, debes proporcionarnos
					tu nombre, tu correo electrónico y una contraseña. Estos datos son
					necesarios para identificarte como usuario, para enviarte comunicaciones
					relacionadas con tu cuenta y para garantizar la seguridad de tu acceso.
					Estos datos se almacenan en una base de datos propiedad de The Culture
					Clan, que cumple con las medidas de seguridad exigidas por la ley. No
					compartimos estos datos con ningún tercero, salvo que nos des tu
					consentimiento expreso o que sea requerido por una autoridad competente.
				</p>
				<p>Al registrarte como usuario en nuestro sitio web, aceptas:</p>

				<ul class='list-inside space-y-2'>
					<li class='list-disc'>
						Proporcionar datos veraces, exactos y completos, y mantenerlos
						actualizados en todo momento.
					</li>
					<li class='list-disc'>
						Custodiar tu contraseña y no compartirla con nadie, ni permitir que nadie
						acceda a tu cuenta en tu nombre.
					</li>
					<li class='list-disc'>
						Asumir la responsabilidad de todas las acciones que se realicen desde tu
						cuenta, y notificarnos inmediatamente cualquier uso no autorizado,
						fraudulento o indebido de la misma.
					</li>
					<li class='list-disc'>
						Respetar estos términos y condiciones, así como nuestra política de
						privacidad y de cookies, que forman parte integrante de los mismos.
					</li>
				</ul>

				<p>
					Nos reservamos el derecho de cancelar tu cuenta de usuario, sin previo
					aviso, si detectamos o tenemos indicios de que has incumplido estos
					términos y condiciones, o si lo consideramos necesario por motivos
					técnicos, de seguridad o de mantenimiento. También nos reservamos el
					derecho de emprender las acciones legales que correspondan contra ti, si tu
					conducta supone una infracción o un delito, o si nos causa algún daño o
					perjuicio.
				</p>

				<h3 class='text-xl md:text-3xl font-medium'>
					Limitación de responsabilidad
				</h3>
				<p>
					En The Culture Clan hacemos todo lo posible para ofrecerte un sitio web
					seguro, funcional y de calidad, así como unos productos y servicios que
					cumplan con tus expectativas y necesidades. Sin embargo, no podemos
					garantizar que nuestro sitio web, nuestros productos y nuestros servicios
					estén libres de errores, defectos, interrupciones, retrasos o cualquier
					otra circunstancia que pueda afectar a su uso o disfrute. Por eso,
					limitamos nuestra responsabilidad por los posibles daños o perjuicios que
					puedas sufrir como consecuencia del uso o mal funcionamiento de nuestro
					sitio web, de nuestra información, de nuestros productos o de nuestros
					servicios, salvo que se demuestre que hemos actuado con dolo, negligencia
					grave o incumplimiento de nuestras obligaciones legales.
				</p>

				<p>
					En ningún caso seremos responsables por los daños o perjuicios que se
					deriven de:
				</p>

				<ul class='list-inside space-y-2'>
					<li class='list-disc'>
						El uso ilícito, fraudulento, contrario a estos términos y condiciones o
						al buen uso de nuestro sitio web, de nuestra información, de nuestros
						productos o de nuestros servicios por tu parte o por parte de terceros.
					</li>
					<li class='list-disc'>
						La falta de disponibilidad, accesibilidad, continuidad o calidad de
						nuestro sitio web, de nuestra información, de nuestros productos o de
						nuestros servicios, por causas ajenas a nuestro control, como fallos en
						el sistema, en la red, en el servidor, en el proveedor, en el operador o
						en el servicio de internet, o por causas de fuerza mayor, como huelgas,
						conflictos bélicos, desastres naturales, etc.
					</li>
					<li class='list-disc'>
						La introducción, difusión o transmisión de virus, malware, spyware o
						cualquier otro código o programa informático que pueda dañar, alterar o
						impedir el normal funcionamiento de nuestro sitio web, de tu dispositivo
						o de los dispositivos de otros usuarios o de terceros.
					</li>
					<li class='list-disc'>
						El acceso, uso o intento de uso de tus datos personales por parte de
						otros usuarios o de terceros, sin tu consentimiento o autorización, o por
						causas no imputables a nosotros, como la suplantación de identidad, el
						robo o la pérdida de tu contraseña, etc.
					</li>
				</ul>

				<h3 class='text-xl md:text-3xl font-medium'>Contacto</h3>
				<p>
					Si tienes alguna pregunta, sugerencia o reclamación sobre estos términos y
					condiciones, o sobre nuestro sitio web, nuestros productos o nuestros
					servicios, puedes contactarnos a través de los siguientes medios:
				</p>
				<ul class='list-inside space-y-2'>
					<li class='list-disc'>Correo electrónico: info@thecultureclan.com</li>
					<li class='list-disc'>Redes sociales: instagram @th3cultureclan</li>
				</ul>
			</div>
		</div>
	</main>
</Layout>
