---
type Props = {
	srcImage: string
	title: string
}

const { srcImage, title } = Astro.props
---

<section class='relative'>
	<img
		src={srcImage}
		class='aspect-[1528/796]'
		alt={`Imagen
          de
          seccion`}
		width={1528}
		height={796}
	/>
	<div
		class='flex flex-col justify-center items-center py-20 gap-y-3 md:absolute inset-0'
	>
		<h2>
			{title}
		</h2>
		<a
			href='/tienda'
			class='border-2 border-white py-2 w-36 uppercase text-lg opacity-70 active:opacity-100 lg:hover:opacity-100 text-center'
		>
			Ver más
		</a>
	</div>
</section>

<style>
	h2 {
		font-family: 'Bebas Neue', sans-serif;
		@apply text-white tracking-[1px] text-7xl;
	}

	@font-face {
		font-family: 'Bebas Neue';
		src: url('/fonts/BebasNeue-Regular.ttf') format('ttf');
	}
</style>
