---
export const prerender = false

import AdminLayout from '@/layouts/AdminLayout.astro'
import { DataTable } from '@/components/admin/tables/DataTable'

const cookie = Astro.cookies.get('admin')

if (cookie && cookie.value !== 'true') {
	return Astro.redirect('/admin/login')
}

const headers = ['Descripción', 'Cantidad', 'Fecha', 'Accion']
---

<AdminLayout title='Ingresos'>
	<div class='overflow-x-auto shadow-md sm:rounded-lg my-8'>
		<DataTable dbTableName='income' client:load />
	</div>
</AdminLayout>
