---
import '@/styles/globals.css'

import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />

		<!-- SEO -->
		<meta
			name='description'
			content='Marca de Ropa. ofrecemos una amplia variedad de diseños y estilos para hombres y mujeres.'
		/>
		<meta name='robots' content='index, follow' />
		<link rel='canonical' href='https://thecultureclan.com' />

		<!-- Open Graph -->
		<meta property='og:type' content='website' />
		<meta
			property='og:image'
			content='https://res.cloudinary.com/df8nnzf8t/image/upload/v1702386655/logo_mywb2f.jpg'
		/>
		<meta property='og:url' content='https://thecultureclan.com/' />

		<!-- favicon -->
		<link
			rel='android-chrome'
			sizes='512x512'
			href='/favicon/android-chrome-512x512.png'
		/>
		<link
			rel='android-chrome'
			sizes='192x192'
			href='/favicon/android-chrome-192x192.png'
		/>
		<link
			rel='apple-touch-icon'
			sizes='180x180'
			href='/favicon/apple-touch-icon.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='/favicon/favicon-32x32.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='16x16'
			href='/favicon/favicon-16x16.png'
		/>
		<link rel='manifest' href='/site.webmanifest' />

		<!-- Google tag (gtag.js) -->
		<script
			type='text/partytown'
			async
			src='https://www.googletagmanager.com/gtag/js?id=G-9XN6FNH6J4'></script>
		<script type='text/partytown'>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())

			gtag('config', 'G-9XN6FNH6J4')
		</script>

		<!-- <meta name='generator' content={Astro.generator} /> -->
		<title>The Culture Clan - {title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html {
		height: 100%;
	}

	.item-name {
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}
</style>
