---
import { ArrowLeftIcon } from '@heroicons/react/24/outline'
---

<div class='absolute top-[-40px] md:top-0 md:left-[-50px]'>
	<button onclick='history.back()'>
		<ArrowLeftIcon className='w-8' />
	</button>
</div>
